<!DOCTYPE html>
<html>
<head>
  <title>Squarrel</title>
  <%= stylesheet_link_tag    "squarrel/application", media: "all" %>
  <%= javascript_include_tag "squarrel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
